nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: orange;
    height: 150px;
}
.icono{
    height: 80px;
    width: 80px;
}
.ul{
    display: flex;
    width: 315px;
    justify-content: space-evenly;
    padding: 0;
}
.links{
    list-style: none;
    font-size: 18px;
    color: black;
}